@media (max-width: 1180px) {
  .services__item {
    flex-basis: calc(33.3333% - 30px);
  }
}

@media (max-width: 1060px) {
  .contacts__map {
    width: 50%;
  }

  .services__item {
    img {
      opacity: 1;
    }
  }
}

@media (max-width: 960px) {
  .header__title {
    margin: 0 25px;

    p {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 10px;
    }

    span {
      font-size: 28px;
      margin-left: 44px;
    }
  }

  .footer__text {
    max-width: 425px;
    font-size: 18px;
  }
}

@media (max-width: 880px) {
  .contacts__inner {
    display: block;
  }

  .contacts__map {
    width: 100%;
    margin-bottom: 50px;
    height: 330px;
  }

  .contacts__info {
    width: 100%;
    padding-left: 0;
  }

  .services__item {
    flex-basis: calc(50% - 30px);
  }
}

@media (max-width: 800px) {
  .header__top {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }

  .header__logo img {
    max-width: 160px;
  }

  .header__contacts {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }

  .header__bottom a {
    font-size: 20px;
  }

  .footer__inner {

    img {
      max-width: 50px;
    }
  }

  .main__info {
    padding-top: 20px;
    padding-bottom: 30px;
  
    h1, h2 {
      text-align: center;
      margin-bottom: 40px;
      line-height: 35px;
    }
  }
  .main__features-inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main__features-item{
    width: 50%;
  }
}

@media (max-width: 576px) {
  .header__top {
    padding-top: 20px;
  }

  .header__logo img {
    margin-bottom: 20px;
  }

  .header__contacts {
    justify-content: space-around;
    font-size: 16px;
  }

  .header__bottom a {
    font-size: 15px;
    padding: 3px 12px 1px;
  }

  .contacts__map {
    height: 200px;
  }

  .services__inner {
    margin-left: -15px;
  }

  .services__item {
    margin-bottom: 15px;
    margin-left: 15px;
    flex-basis: calc(100% - 15px);
  }

  .services__item .services__item-img {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  .footer__inner {
    justify-content: space-between;
  }

  .footer__logo {
    margin-right: 50px;
  }
}

@media (max-width: 440px) {
  .header__title {
    text-align: center;

    p {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 10px;
    }

    span {
      font-size: 25px;
      margin-left: 0;
    }
  }

  .header__contacts {
    display: block;
    text-align: center;

    a {
      display: inline-block;
      margin: 0 10px;
      padding-left: 20px;
    }
  }

  .footer__text {
    max-width: 425px;
    font-size: 16px;
  }
}